<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <script src="https://kit.fontawesome.com/4d18b4db01.js" crossorigin="anonymous"></script>
  <title>Pokedex</title>
</head>
<body>
  <header>
  <input type="text" autocomplete="off" class="search-pk" placeholder="Busca tu pokemon favorito!">
  </header>
  <div class="nav">
      <ul class="ul-nav">
        <li class="li-nav">
            <a href="/listado">Listado</a>
        </li>
      </ul>
  </div>
  <main>
    <section class="card-pk">
      <p class="name-pokemon"></p>
      <div class="image">
      </div>
    </section>
  </main>
  <div class="footer">
    <p>Creado por Marco Savarino</p>
    <i class="fa-brands fa-github"></i>
</div>
<script src="/javascripts/main.js"></script>
</body>
</html>