<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/listado.css">
    <script src="https://kit.fontawesome.com/4d18b4db01.js" crossorigin="anonymous"></script>
    <title>Listado</title>
</head>
<body>
  <a href="/" class="back"><i class="fa-solid fa-arrow-left-long fa-beat"></i></a>

    <h1>Pokémon List</h1>
  <ul id="pokemon-list"></ul>
  <div class="botones"> 
  <button id="prev-btn">Previous</button>
  <button id="next-btn">Next</button>
</div>
<div class="footer">
  <p>Creado por Marco Savarino</p>
  <i class="fa-brands fa-github"></i>
</div>
    <script src="/javascripts/listado.js"></script>
</body>
</html>