body {
    font-family: Arial, sans-serif;
    background-color: #ebebeb;
}

h1 {
    margin-top: 20px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

#pokemon-list {
    margin-top: 40px;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#pokemon-list li {
    margin: 10px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 150px;
}

#pokemon-list li img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 1px solid #000;
    border-radius: 5px;
    cursor: pointer;
}

#prev-btn, #next-btn {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    text-align: center;
}

#prev-btn:hover, #next-btn:hover {
    background-color: #0056b3;
    text-align: center;
}

#prev-btn:disabled, #next-btn:disabled {
    opacity: 0.5;
    cursor: not-allowed;
    text-align: center;
}

.back{
    color: #010101;
    text-decoration: none;
    font-size: 30px;
    margin-left: 20px;
    margin-top: 10px;
    text-align: left !important ;
}
.botones{
    width: 100%;
    display: flex;
    justify-content: center;
}

.botones button{
    margin: 10px;
}
.footer {
    position: fixed; 
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #000;
    color: #fff;
    padding: 20px;
    text-align: center;
    opacity: 0; 
    animation: fade-in 1s ease-in-out forwards
  }
  
  @keyframes fade-in {
    0% {
      opacity: 0;
      transform: translateY(30px); 
    }
    100% {
      opacity: 1;
      transform: translateY(0); 
    }
  }
